[Unit]
Description=daphne ASGI daemon for Django project (with WebSocket support)
After=network.target

[Service]
User=driptamine
Group=www-data
UMask=0002
WorkingDirectory=/home/driptamine/litloop_backend_v2

Environment=DJANGO_SETTINGS_MODULE=litloop_project.settings.prod

ExecStartPre=/bin/rm -f /home/driptamine/litloop_backend_v2/deploy/gunicorn/gunicorn.sock
ExecStart=/home/driptamine/litloop_backend_v2/env/bin/daphne \
    -v 2 \
    --proxy-headers \
    -u /home/driptamine/litloop_backend_v2/deploy/gunicorn/gunicorn.sock \
    litloop_project.asgi:application

Restart=always

[Install]
WantedBy=multi-user.target
