DB_ENGINE=django.db.backends.postgresql
DB_NAME=recipes
DB_USER=<project_user>
DB_PASSWORD=<secure_password>
DB_HOST=localhost
DB_PORT=5432

# Neon Database URL (Alternative)
# DATABASE_URL=postgresql://<user>:<password>@<host>/<dbname>?sslmode=require
DATABASE_URL=postgresql://neondb_owner:npg_YLdSKVNPRD91@ep-fragrant-cherry-apkzqs3g-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
ENVIRONMENT=

POSTGRES_USER=
POSTGRES_PASSWORD=


AWS_ACCESS_KEY_V1=
AWS_SECRET_KEY_V1=
AWS_STORAGE_BUCKET_NAME=

GOOGLE_CLIENT_ID=
GOOGLE_SECRET_KEY=


SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=


TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
