django
psycopg2
djangorestframework
djangorestframework-simplejwt
django-shortcuts
django-extensions
drf-yasg
django-cors-headers
py-deezer
deezer-py
gunicorn
m3u8
django-mptt
filetype
pillow
django-imagekit
django-redis
django-storages
celery == 4.4.7
channels
django-celery-beat
cinemagoer
elasticsearch
django-elasticsearch-dsl
elasticsearch-dsl
